<!--Bottom Nav Bar -->
<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <h6 class="navbar-text">&copy; Designed and developed by Ziyad Khan
            <address>
                Contact me at <a href="mailto:ziyad.khan@ontariotechu.net">ziyad.khan@ontariotechu.net</a>
            </address></h6>
</nav>