<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>
    <body>

        <div class="holder">
            <div class="abt-pg-header">
                About Me
            </div>
            <div class="abt-pg-text">
                
                
                Driven by a passion for growth and efficiency, I continuously strive to refine my skills, adapt quickly, and make impactful contributions. 
                I’m a second-year student at Ontario Tech University, pursuing a degree in Networking and IT Security, based in <span class="highlight">Toronto, Canada</span>. 
                My experience spans both technical and customer-facing roles, where I’ve developed a solid foundation in <span class="highlight">HTML,</span> <span class="highlight">CSS,</span> <span class="highlight">and Javascript,</span> and I'm eager to expand my expertise
                 in these areas while picking up new skills along the way. With a strong focus on problem-solving and hands-on learning, 
                 I’m excited to bring my technical knowledge, leadership, and enthusiasm into the field of tech.
                Aside from tech, here are some of my other hobbies!
                <ul id="list">
                    <li>Working Out</li>
                    <li>Building Computers</li>
                    <li>Photography</li>
                    <li>Fine dining</li>
                </ul>
            </div>
            <div id="pfp"></div>
        </div>
        <footer>
            Designed and developed by Ziyad Khan
            <address>
                Contact me at <a href="mailto:ziyad.khan@ontariotechu.net">ziyad.khan@ontariotechu.net</a>
            </address>
        </footer>
    </body>
</html>
<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>