<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>
<body>
        <h1 class="pagename">Things I've Built</h1>
        <div class="wrapper">
            <div class="project-box">
                <h4 class="proj-description">Button Animations</h4>
                <img class="project-img"src="images/buttons-proj.png">
                <ul class="proj-description">
                    <li>This project was made using HTML and CSS</li>
                    <li>Each button contains different CSS styles applied when hovered over</li>
                    <li>The goal was to practise HTML and CSS</li>
                    <li>Through this project I became familiar with animations/transitions using CSS</li>
                </ul>
            </div>
            <div class="project-box">
                <h4 class="proj-description">Customer Tracker</h4>
                <img class="project-img"src="images/counter-proj.png">
                <ul class="proj-description">
                    <li>This project was made using HTML, CSS, and Javascript</li>
                    <li>The increment button adds one to the count and the save button logs the current number</li>
                    <li>A Javascript function was used to increment and save the number</li>
                    <li>Through this project I became familiar with creating and implementing Javascript functions</li>
                    <li>This counter was deployed to be used within a restaurant and track the amount of daily customers</li>
                </ul>
            </div>
            <div class="project-box">
                <h4 class="proj-description">Photography Portfolio</h4>
                <img class="project-img"src="images/photo-proj.png">
                <ul class="proj-description">
                    <li>This project was made to display not only my coding capability but also my photography</li>
                    <li>Each picture has a zoom and glow effect when hovered over</li>
                    <li>HTML and CSS were used to create the website</li>
                    <li>Through this project I was able to refine skills with HTML and CSS while also learning alot about the "flexbox" element</li>
                </ul>
            </div>
        </div>
    </body>
<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>